* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
}

.contaner {
    margin: 0 auto;
    padding: 0 42px;
    max-width: 1280px;
}

@media (min-width: 1600px) {
    .container {
        max-width: 1400px;
    }
}

@media (max-width: 1128px) {
    .container {
        max-width: 900px;
        padding: 0px 20px;
    }
}

@media (max-width: 750px) {
    .container {
        max-width: 718px;
        padding: 0px 16px;
    }
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.items-end {
    align-items: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.pointer {
    cursor: pointer;
}

.leading-33 {
    line-height: 33px;
}

.leading-24 {
    line-height: 24px;
}

.text-xs {
    font-size: 14px;
}

.text-15 {
    font-size: 15px;
}

.text-18 {
    font-size: 18px;
}

.text-22 {
    font-size: 22px;
}

.text-21 {
    font-size: 21px;
}

.text-20 {
    font-size: 20px;
}

.text-30 {
    font-size: 30px;
}

.text-base {
    font-size: 16px;
}

.text-black {
    color: #000;
}

.text-white {
    color: #fff;
}

.text-grey {
    color: #232323;
}

.text-grey1 {
    color: #505050;
}

.text-grey2 {
    color: #222222;
}

.text-grey3 {
    color: #5F5F5F;
}

.text-grey4 {
    color: #212121;
}

.text-purple {
    color: #3D386A;
}

.text-blue {
    color: #1A62C4;
}

.font-thin {
    font-weight: 300;
}

.font-normal {
    font-weight: 400;
}

.font-semibold {
    font-weight: 500;
}

.font-bold {
    font-weight: 600;
}

.h-full {
    height: 100%;
}

.bg-grey {
    background-color: #F6F6F6;
}

.bg-grey1 {
    background-color: #f2f2f2;
}

.bg-white {
    background-color: #fff;
}

.overflow-auto {
    overflow: auto;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-14 {
    margin-bottom: 14px;
}

.mt-24 {
    margin-top: 24px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-36 {
    margin-top: 36px;
}

.mr-15 {
    margin-right: 15px;
}

.ml-35 {
    margin-left: 35px;
}

.ml-10 {
    margin-left: 10px;
}

.px-12 {
    padding: 0 12px;
}

.header {
    z-index: 10;
    padding: 8px 24px;
}

.header .logo-wrapper {
    margin-right: 70px;
}

.header .logo-wrapper .logo {
    margin-bottom: 8px;
}

.header .links-wrapper a {
    text-decoration: none;
    font-size: 16px;
    color: #232323;
    font-weight: 300;
}

.header .links-wrapper .active {
    color: #3D386A;
    font-weight: 600;
}

.header .user-icon {
    margin-left: 36px;
}

.chat-wrapper {
    width: 35%;
    background-color: #fff;
    margin-left: auto;
}

.chat-wrapper .chat-heading {
    padding: 22px 24px;
    border-bottom: 1px solid #ccc;
}

.chat-wrapper .message {
    margin-left: 33px;
}

.chat-wrapper .chat-user {
    padding: 38px 24px;
}

.chat-wrapper .chat-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 21px;
}

.chat-wrapper .chat-notification {
    width: 38px;
    height: 38px;
    background-color: #0BBC7F;
    border-radius: 50%;
}

.chat-wrapper-open {
    margin-left: auto;
    width: 35%;
    background-color: #F6F6F6;
}

.chat-wrapper .chat-user-open {
    padding: 24px 14px;
}

.chat-wrapper .chat-back-btn {
    width: 40px;
    height: 40px;
    margin-right: 24px;
    cursor: pointer;
}

.chat-wrapper .chat-back-btn img {
    width: 100%;
}

.chat-wrapper .chat-msg-wrapper {
    padding: 12px 6px 30px 56px;
}

.chat-wrapper .chat-msg-card {
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 6px;
}

.chat-wrapper .chat-msg-wrapper img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 6px;
    margin-bottom: 6px;
}

.chat-wrapper .chat-msg-wrapper a {
    text-decoration: none;
}

.chat-wrapper .input-text-wrapper {
    position: relative;
    width: 100%;
}


.chat-wrapper .input-text-wrapper input {
    border: none;
    outline: none;
    width: 100%;
    padding: 28px 84px 28px 22px;
    background-color: #fff;
    font-size: 16px;
    line-height: 24px;
}

.chat-wrapper .send-btn {
    position: absolute;
    right: 12px;
    top: 10px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.chat-wrapper .send-btn img {
    width: 100%;
}

.patient-detail-wrapper {
    padding: 16px 24px;
}

.patient-detail-wrapper .left-section {
    width: 40%;
}

.patient-detail-wrapper .right-section {
    width: 60%;
}

.patient-detail-wrapper .detail-left-first {
    border-radius: 12px;
    box-shadow: 0px 1px 6px #95959515;
    padding: 12px 12px;
}

.patient-detail-wrapper .divider {
    border-bottom: 1px solid #CECECE;
    margin: 20px 0;
}

.patient-detail-wrapper .vital-first {
    width: 37%;
    border-right: 1px solid #707070;
    padding-right: 6px;
}

.patient-detail-wrapper .vital-second {
    width: 26%;
    border-right: 1px solid #707070;
    padding-left: 6px;
    padding-right: 6px;
}

.patient-detail-wrapper .vital-third {
    width: 37%;
    padding-left: 6px;
}